Dash==3.1.1
Statsmodels==0.14.5
Scikit-learn==1.7.1
TensorFlow==2.19.0
Prince==0.16.0
Dask==2025.7.0
Joblib==1.5.1
Keras==3.10.0
LightGBM==4.6.0
OptBinning==0.20.1
pmdarima==2.0.4
Prophet==1.1.7
PuLP==3.16.0
Scikit-surprise==1.1.4
SciPy==1.16.0
XGBoost==3.0.2
PyCaret==3.3.2
CustomTkinter==5.2.2
virtualenv==20.27.1
ttkbootstrap==1.14.1
auto-py-to-exe==2.46.0
polars==1.31.0
aiodns==3.5.0
aiohttp==3.12.14
aiomultiprocess==0.9.1
aiosignal==1.4.0
alembic==1.16.4
aniso==10.0.1
async-timeout==5.0.1
attrs==25.3.0
bc-python-hcl==0.4.3
beautifulsoup==4.13.4
boto==1.39.6
botocore==1.39.9
cached-property==2.0.1
cachetools==6.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
checkov==3.2.451
click==8.1.7
click-option-group==0.5.7
cloudsplaining==0.8.0
colorama==0.4.6
ConfigArgParse==1.7.1
cryptography==45.0.5
cyclonedx-python-lib==10.5.0
deepmerge==2.0
detect-secrets==1.5.0
docker==7.1.0
dpath==2.2.0
et-xmlfile==2.0.0
Flask==3.1.1
Flask-Cors==6.0.1
Flask-Migrate==4.1.0
frozenlist==1.7.0
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
importlib-metadata==8.7.0
itsdangerous==2.2.0
Jinja==3.1.6
jmespath==1.0.1
jsonschema==4.25.0
Mako==1.3.10
Markdown==3.8.2
MarkupSafe==3.0.2
multidict==6.6.3
networkx==3.5
packageurl-python==0.17.1
packaging==24.0
parse==1.20.1
parse-type==0.6.0
policy-sentry==0.14.0
pycares==4.9.0
pycparser==2.22
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
s3transfer==0.13.1
schedule==1.2.2
schema==0.7.5
six==1.17.0
smmap==5.0.2
soupsieve==2.7
SQLAlchemy==2.0.41
termcolor==3.1.0
tls-parser==2.0.0
tqdm==4.67.1
types-setuptools==69.0.0.20240125
types-toml==0.10.8.20240310
typing-extensions==4.14.1
urllib==2.5.0
websocket-client==1.8.0
Werkzeug==3.1.3
xmltodict==0.14.2
yarl==1.20.1
zipp==3.23.0
compressed-rtf==1.0.7
msoffcrypto-tool==5.4.2
pip==24.1
setuptools==80.9.0
tzdata==2025.2
tzlocal==5.3.1
bitsandbytes==0.37.0
fqdn==1.5.1
ipykernel==6.24.0
isoduration==1.0.2
jsonpointer==2.1
matplotlib==3.7.2
numpy==1.24.3
openpyxl==3.1.2
optuna==2.10.0
pandas==1.5.3
plotly==5.10.0
psutil==5.9.0
pyautogui==0.9.53
pymsgbox==1.0.9
pyodbc==4.0.34
pyprojroot==0.3.0
pywin==305
seaborn==0.12.2
selenium==4.7.0
tinycss==1.1.0
ttkbootstrap==1.0.0
uri-template==1.0.0
webcolors==1.11.1
jupyter-client==8.6.3
jupyter_core==5.8.1
pyzmq==27.1.0
tornado==6.5.2
traitlets==5.14.3
platformdirs==4.4.0
pyarrow==21.0.0
codecov==2.1.13
coverage==7.10.7
cython==3.1.4
pycodestyle==2.14.0
flake8==7.3.0
tox==4.30.0
gevent==25.9.1
backport==0.3.1
towncrier==25.8.0
pyperf==2.9.0
greenlet==3.2.4
mypy==1.18.2
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
pytest-rerunfailures==16.0.1
ipython-pygments==0.1.0
tbump==6.11.0
contributors-txt==1.0.0
pytest-xdist==3.8.0
numpy==2.3.3
python-dateutil==2.9.0
regex==2025.9.18
urllib3==2.5.0
typing-extensions==4.15.0
click==8.3.0
 importlib-resources==6.5.2
jinja2==3.1.6
MarkupSafe==3.0.3
tomli==2.3.0
wheel==0.45.1
build==1.3.0
packaging==25.0
readme_renderer==44.0
requests==2.32.5
twine==6.2.0
mypy-extensions==1.1.0
pathspec==0.12.1
librt==0.2.3
pip==25.2
pyright==1.1.406
exceptiongroup==1.3.0
iniconfig==2.1.0
pluggy==1.6.0
pygments==2.19.2
backports.asyncio.runner==1.2.0
ruff==0.14.0
tox-uv==1.29.0
pallets-sphinx-themes==2.3.0
sphinx==8.2.3
sphinx-autobuild==2025.8.25
gha-update==0.2.0
pre-commit==4.3.0
pre-commit-uv==4.2.0
pytest-run-parallel==0.7.0
readme-renderer==44.0
keyring==25.6.0
rich==14.2.0
id==1.5.0
nodeenv==1.9.1
flake8-bugbear==24.12.12
flake8-pyi==25.5.0
psutil==7.1.0
uv==0.9.2
sphinx-notfound-page==1.1.0
ipython==9.6.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
docutils==0.22.2
snowballstemmer==3.0.1
babel==2.17.0
alabaster==1.0.0
roman-numerals-py==3.1.0
starlette==0.48.0
absl-py==2.3.1
adagio==0.2.6
aistudio-sdk==0.3.8
alembic==1.17.1
alembic==1.17.2
altair==4.2.2
altair==5.5.0
altair==6.0.0
anaconda-cli-base==0.6.0
anaconda-client==1.13.0
aniso8601==10.0.1
annotated-doc==0.0.4
annotated-types==0.7.0
ansicolors==1.1.8
antlr4-python3-runtime==4.9.3
anyio==4.11.0
anytree==2.13.0
appdirs==1.4.4
arch==8.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arro3-core==0.6.5
arrow==1.4.0
arviz==0.22.0
astroid==4.0.2
astropy==7.1.1
astropy-iers-data==0.2025.11.10.0.38.31
asttokens==3.0.1
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.5
atomicwrites==1.4.1
attrs==25.4.0
autoviz==0.1.905
backcall==0.2.0
backports-tempfile==1.0
backports-weakref==1.0.post1
bce-python-sdk==0.9.52
beartype==0.22.6
beautifulsoup4==4.14.2
binaryornot==0.4.4
bitsandbytes==0.48.2
bkcharts==0.2
black==25.11.0
bleach==6.3.0
blinker==1.9.0
blis==1.3.3
bokeh==3.8.1
boolean-py==5.0
botocore==1.40.73
botocore==1.41.1
brotlipy==0.7.0
bump2version==1.0.1
bumpversion==0.6.0
cachecontrol==0.14.4
cachetools==6.2.2
camelot-py==1.0.9
catalogue==2.0.10
catboost==1.2.8
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
cleo==2.1.0
click==8.1.8
click==8.3.1
cloudpathlib==0.23.0
cloudpickle==3.1.2
cmdstanpy==1.3.0
colorcet==3.1.0
colorlog==6.10.1
comm==0.2.3
conda-package-handling==2.4.0
conda-package-streaming==0.12.0
confection==0.1.5
cons==0.4.7
constantly==23.10.4
contourpy==1.3.3
cookiecutter==2.6.0
counter==1.0.0
crashtest==0.4.1
cryptography==46.0.3
cycler==0.12.1
cyclonedx-python-lib==9.1.0
cymem==2.0.13
daal==2024.7.0
daal4py==2024.7.0
dash==3.2.0
dash==3.3.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2025.11.0
databricks-sdk==0.73.0
datetime==5.5
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
delta==0.4.2
deprecated==1.3.1
deprecation==2.1.0
diff-cover==9.7.2
dill==0.4.0
distlib==0.4.0
distributed==2025.11.0
distro==1.9.0
dulwich==0.24.10
dynaconf==3.2.12
easyocr==1.7.2
efficientnet==1.0.0
emoji==2.15.0
entrypoints==0.4
essential-generators==1.0
etuples==0.3.10
evidently==0.7.16
executing==2.2.1
faker==38.2.0
fastai==2.8.5
fastapi==0.121.2
fastapi==0.121.3
fastcore==1.8.16
fastdownload==0.0.7
fastjsonschema==2.21.2
fastprogress==1.0.3
fasttransform==0.0.2
filelock==3.20.0
findpython==0.7.1
flask==3.1.2
flatbuffers==25.9.23
fonttools==4.60.1
fpdf2==2.8.5
fs==2.4.16
fsspec==2025.10.0
future==1.0.0
gast==0.6.0
gensim==4.4.0
gitpython==3.1.45
glob2==0.7
google-auth==2.43.0
google-pasta==0.2.0
graphene==3.4.3
graphql-core==3.2.7
graphql-relay==3.2.0
graphviz==0.21
grpcio==1.76.0
h11==0.16.0
h5netcdf==1.7.3
h5py==3.15.1
heapdict==1.0.1
hf-xet==1.2.0
holidays==0.85
holoviews==1.22.0
httpcore==1.0.9
httpx==0.28.1
huey==2.5.4
huggingface-hub==0.36.0
huggingface-hub==1.1.4
huggingface-hub==1.1.5
hvplot==0.12.1
hyperlink==21.0.0
hyperopt==0.2.7
idna==3.11
imageio==2.37.2
imagesize==1.4.1
imbalanced-learn==0.14.0
imblearn==0.0
img2pdf==0.6.3
imgaug==0.4.0
importlib-resources==6.5.2
iniconfig==2.3.0
installer==0.7.0
ipykernel==7.1.0
ipython==9.7.0
ipython-pygments-lexers==1.1.1
isoduration==20.11.0
iterative-telemetry==0.0.10
jaraco-classes==3.4.0
jaraco-context==6.0.1
jaraco-functools==4.3.0
jedi==0.19.2
joblib==1.5.2
json5==0.12.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter-server==2.17.0
jupyter-server-terminals==0.5.3
jupyterlab==4.4.10
jupyterlab-pygments==0.3.0
jupyterlab-server==2.28.0
keras==3.12.0
keras-applications==1.0.8
keyboard==0.13.5
keyring==25.7.0
kiwisolver==1.4.9
kneed==0.8.5
lake==1.0.1
lazy-loader==0.4
libclang==18.1.1
license-expression==30.4.4
lime==0.2.0.1
linkify-it-py==2.0.3
litestar==2.18.0
litestar-htmx==0.5.0
llvmlite==0.45.1
locket==1.0.0
logical-unification==0.4.7
loguru==0.7.3
lxml==6.0.2
markdown==3.10
markdown-it-py==4.0.0
marshmallow==3.26.1
marshmallow==4.1.0
matplotlib==3.10.7
matplotlib-inline==0.2.1
mccabe==0.7.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
minikanren==1.0.5
mistune==3.1.4
ml-dtypes==0.5.4
mlflow==3.6.0
mlflow-skinny==3.6.0
mlflow-tracing==3.6.0
modelscope==1.31.0
modelscope==1.32.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multipart==1.3.0
multipledispatch==1.0.0
murmurhash==1.0.15
namex==0.1.0
narwhals==2.12.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
ninja==1.13.0
nltk==3.9.2
notebook-shim==0.2.4
numba==0.62.1
numpy==2.2.6
numpy==2.3.5
ocrmypdf==16.12.0
omegaconf==2.3.0
opencv-contrib-python==4.10.0.84
opencv-contrib-python==4.12.0.88
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt-einsum==3.4.0
optree==0.18.0
optuna==4.6.0
orjson==3.11.4
outcome==1.3.0.post0
packageurl-python==0.17.5
paddleocr==3.3.2
paddlex==3.3.9
pandas==2.3.3
pandas-dq==1.29
pandas-flavor==0.7.0
pandocfilters==1.5.1
panel==1.8.3
papermill==2.6.0
param==2.3.0
parso==0.8.5
partd==1.4.2
patsy==1.0.2
pbs-installer==2025.11.20
pdfminer-six==20251107
pi-heif==1.1.1
pikepdf==10.0.2
pillow==12.0.0
pip==25.1.1
pip==25.3
pip-requirements-parser==32.0.1
pip-tools==7.5.2
pipgrip==0.11.0
pkginfo==1.12.1.2
platformdirs==4.5.0
plotly==5.24.1
plotly==6.4.0
plotly==6.5.0
plotly-resampler==0.11.0
plum-dispatch==2.6.0
ply==3.11
poetry==2.2.1
poetry-core==2.2.1
polyfactory==3.0.0
preshed==3.0.11
preshed==3.0.12
prettytable==3.17.0
prometheus-client==0.23.1
prompt-toolkit==3.0.52
prophet==1.2.1
protobuf==6.31.1
protobuf==6.33.1
psutil==7.1.3
psycopg2==2.9.11
pure-eval==0.2.3
pure-sasl==0.6.2
py-cpuinfo==9.0.0
py-serializable==2.1.0
py4j==0.10.9.9
pyamg==5.3.0
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyclipper==1.3.0.post6
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.4
pydantic-core==2.41.5
pydantic-settings==2.12.0
pyerfa==2.0.1.5
pyflakes==3.4.0
pyjanitor==0.32.1
pymc==5.26.1
pyparsing==3.2.5
pypdf==5.9.0
pypdf2==3.0.1
pypdf4==1.27.0
pypdfium2==5.0.0
pyproject-hooks==1.2.0
pysocks==1.7.1
pytensor==2.35.1
pytest==9.0.1
python-bidi==0.6.7
python-dotenv==1.2.1
python-json-logger==4.0.0
python-slugify==8.0.4
pytokens==0.3.0
pyviz-comms==3.0.6
pywavelets==1.9.0
pywin32==311
pywin32-ctypes==0.2.3
pywinpty==3.0.2
pyyaml==6.0.3
rapidfuzz==3.14.3
readchar==4.2.1
referencing==0.37.0
regex==2025.11.3
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich-click==1.9.4
rpds-py==0.29.0
rsa==4.9.1
ruamel-yaml==0.18.16
ruamel-yaml-clib==0.2.15
s3transfer==0.14.0
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.2
scikit-plot==0.3.7
scipy==1.16.3
seaborn==0.13.2
selenium==4.38.0
send2trash==1.8.3
shap==0.50.0
shapely==2.1.2
shellingham==1.5.4
sklearn2pmml==0.123.1
slicer==0.0.8
smart-open==7.5.0
smogn==0.1.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
spacy==3.8.11
spacy==3.8.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlalchemy==2.0.44
sqlfluff==3.5.0
sqlparse==0.5.3
srsly==2.5.1
srsly==2.5.2
stack-data==0.6.3
stanio==0.5.1
starlette==0.49.3
stumpy==1.13.0
sympy==1.14.0
tabulate==0.9.0
tbb==2021.13.1
tblib==3.2.2
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
terminado==0.18.1
text-unidecode==1.3
textblob==0.19.0
thinc==8.3.10
thinc==8.3.9
threadpoolctl==3.6.0
tifffile==2025.10.16
tinycss2==1.4.0
tokenizers==0.22.1
toml==0.10.2
tomlkit==0.13.3
toolz==1.1.0
torch==2.9.1
torchvision==0.24.1
transformers==4.57.1
triad==1.0.0
trio==0.32.0
trio-websocket==0.12.2
trove-classifiers==2025.11.14.15
tsdownsample==0.1.4.1
tsfresh==0.21.1
tuyapy==0.1.4
typer==0.20.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
uc-micro-py==1.0.3
ujson==5.11.0
uri-template==1.3.0
uuid6==2025.0.1
uvicorn==0.38.0
virtualenv==20.35.4
waitress==3.0.2
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.14
weasel==0.4.3
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
win32-setctime==1.2.0
wordcloud==1.9.4
wrapt==2.0.1
wsproto==1.3.1
xarray==2025.11.0
xarray-einstats==0.9.1
xgboost==1.6.2
xlrd==2.0.2
xyzservices==2025.10.0
zict==3.0.0
zope-interface==8.1.1
zstandard==0.25.0